<mat-card class="customer-card">
  <mat-card-header>
    <div mat-card-avatar class="customer-header-image"></div>
    <mat-card-title>{{customer.firstName}} {{customer.lastName}}</mat-card-title>
    <mat-card-subtitle>Company: {{customer.companyName}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div>
      <span class="bold">Email:</span> {{customer.email}}</div>
    <div>
      <span class="bold">Phone number:</span> {{customer.phone}}</div>
    <ul>
      <span class="bold">Comments:</span>
      <li *ngFor="let comment of customer.comments">
        <i class="fa fa-paw"></i> {{comment.text}} ({{comment.date | date: 'fullDate'}})</li>
    </ul>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button class="customer-card-button" (click)="toggleCommentForm()">Add comments</button>
    <button mat-button class="customer-card-button" (click)="deleteCustomer()">Delete customer</button>
    <a routerLink="/"><button mat-button class="customer-card-button">Back to all customers</button></a>
  </mat-card-actions>

  <mat-card-footer *ngIf="showCommentForm">
    <mat-form-field>
      <input matInput [(ngModel)]="newCommentText" placeholder="Write a comment...">
    </mat-form-field>
    <button mat-button (click)="addComment()">Post</button>
  </mat-card-footer>
</mat-card>